body {
  background-color: #EAF6F6;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.terabox {
  text-align: center;
  width: 50px;
  height: auto;
  -webkit-animation: NAME-YOUR-ANIMATION 1s infinite;
  /* Safari 4+ */
  -moz-animation: NAME-YOUR-ANIMATION 1s infinite;
  /* Fx 5+ */
  -o-animation: NAME-YOUR-ANIMATION 1s infinite;
  /* Opera 12+ */
  animation: NAME-YOUR-ANIMATION 1s infinite;
  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%, 49% {
    background-color: rgb(117, 209, 63);
    border: 3px solid #e50000;
  }

  50%, 100% {
    background-color: #e50000;
    border: 3px solid rgb(117, 209, 63);
  }
}

.heading {
  color: #66FCF1;
  text-align: center;
  background-color: #0B0C10;
  padding: 2px;
  margin: 1px;
}

.semester1 {
  color: #EE4C7C;
  background-color: #E3E2DF;
  padding: 5px;
  text-align: center;
}

.a {
  color: #AC3B61;
  background-color: #EDC7B7;
  padding: 5px;
  border-radius: 50%;
  margin: 1px auto 1px auto;
  text-align: center;
  width: 80%;
}

.b {
  color: #AC3B61;
}

.time-table {
  color: #0591A5;
  background-color: #85CDCA;
}

.syllabus {
  color: rgb(0, 0, 0);
  background-color: #85CDCA;
}

.bottom {
  color: #FFE400;
  padding: 2px;
  background-color: #272727;
  text-align: center;
  width: -webkit-fill-available;
}

.bottom-table {
  color: #FFE400;
  padding: 2px;
  background-color: #272727;
  text-align: center;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 0 0 10px;
  text-align: center;
  width: -webkit-fill-available;
}

.copyright {
  margin-bottom: 0;
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 2px;
}

.footer {
  margin: 1px;
}

.footer-link {
  color: #11999E;
}


.img-donate {
  width: auto;
  height: auto;
}

.back {
  color: white;
}

.btn {
  text-align: center;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  width: 30%;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px auto 50px auto;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ed);
  text-decoration: none;
}

.insta-logo {
  align-items: center;
  width: 15%;
  height: 15%;
  border-radius: 10%;
}

.page {
  background-color: #EE4C7C;
  padding: 20px;
  position: relative;
}

.page-heading {
  margin: 0;
}

.page-no {
  background-color: #2bc4ed;
  padding: 10px;
  width: 50%;
  display: inline-block;
}

.page-img {
  background-color: #AC3B61;
  padding: 5px;
}

.page-download {
  display: none;
}

.page-download-btn {
  color: white;
  margin: 0;
}

img {
  width: -webkit-fill-available;
}
